body {
  max-width: 100%;
  background-color: black;
  border: 2px solid red;
}
tbody{
  max-width: 100%;
  background-color: aquamarine;
  text-align: center;
  border: 2px solid blue;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
thead{
  max-width: 100%;
  font-size: large;
background-color: aqua;
text-align: center;
border: 2px solid purple;
font-family: "Goudy Bookletter 1911", sans-serif;
}
h1{
  color: azure;
  text-align: center;
  font-family: "Goudy Bookletter 1911", sans-serif;
}
td{
  max-width: 100%;
  font-size: 10pt;
  color: blueviolet;
}
th{
  max-width: 100%;
  color:rebeccapurple;
}
#caption{
  color: azure;
  text-align: center;
 
}
